services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: node-js-sample:${IMAGE_TAG}
        labels:
          docker-rollout.pre-stop-hook: "touch /tmp/drain && sleep 10"
        ports:
          - '3000:3000'
        environment:
          - PORT=3000
        networks:
          - app-network
        restart: unless-stopped

networks:
    app-network:
        driver: bridge
